
#menu {
  background-color:rgb(6, 8, 51);
  display: flex;
  color: white
}

#menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
#menu-links a {
  padding-right: 0.5em;
  color: darkblue;
  text-decoration: underline;
  cursor: pointer;
}
.DocSpot{
  top:50px;
  left: 10px;
  border-radius: 1%;
  text-align: left;
  font-size: 25px;
  width: 125px;
  height: 80px;
  background-color: Black
}

